<div>
    {{#each products}}
        <div>
            <h2>{{this.name}}</h2>
            <p>Description: {{this.description}}</p>
            <p>Price: ${{this.price}}</p>
            <p>Stock: {{this.stock}}</p>
            <p>Categoria: {{this.category}}</p>
        </div>
    {{/each}}
</div>