<form id="productForm" class="flex flex-col justify-center items-center bg-gray-600">
    <input type="text" id="title" placeholder="Product Name" required>
    <input type="text" id="description" placeholder="Description" required>
    <input type="number" id="price" placeholder="Price" required>
    <input type="number" id="stock" placeholder="Stock" required>
    <input type="text" id="category" placeholder="Category" required>
    <button type="submit">Añadir producto</button>
</form>

<div class="container_product">
    {{#each products}}
        <div>
            <h2>{{this.title}}</h2>
            <p>Description: {{this.description}}</p>
            <p>Price: ${{this.price}}</p>
            <p>Stock: {{this.stock}}</p>
            <p>Categoria: {{this.category}}</p>
            <button class="delete_product" data-id="{{this.id}}">Eliminar</button>
        </div>
    {{/each}}
</div>
{{!-- Scripts para Socket --}}
<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>